---
export const prerender = true;
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReviewCard from '../../components/ReviewCard.astro';

const reviews = await getCollection('reviews');
---
<BaseLayout
  title="Reviews"
  description="Student-written reviews of recent scientific research across the Badger Journals digests."
  path="/reviews"
>
  <h1>Reviews</h1>
  <ul class="reviews">
    {reviews.map((r) => (
      <li>
        <ReviewCard
          slug={r.id}
          title={r.data.title}
          authors={r.data.authors}
          date={r.data.date}
          digest={r.data.digest}
          excerpt={r.data.excerpt}
        />
      </li>
    ))}
  </ul>
</BaseLayout>
